.hero {
  min-height: 50dvh;
  height: 100%;

  @container (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.hero__content {
  display: grid;
  grid-template-columns: subgrid;
}

.hero__links {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  margin-top: var(--spacing-4);

  @container (min-width: 500px) {
    flex-direction: row;
  }
}
