.card {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
  position: relative;
}

.card--primary {
  display: grid;
  grid-template-columns: subgrid;
  gap: 1rem;
  border: 1px solid var(--border);
  padding: var(--spacing-4);
  background: var(--card);
  color: var(--card-foreground);
}

.card--wider{
  grid-template-columns: 1fr;
}


.card__title {
  font-size: var(--font-size-lg); 
}

.card__title--larger {
  font-size: var(--font-size-2xl);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.card__link--full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.card--secondary {
  @media screen and (max-width: 767px) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 80%,
        rgba(0, 0, 0, 1) 100%
      );
      pointer-events: none;
      z-index: -1;
    }
  }

  .card__content {
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    .card__tag {
      background: var(--accent);
      color: var(--accent-foreground);
      padding: var(--spacing-1) var(--spacing-2);
      border-radius: var(--radius);
      font-size: var(--font-size-xs);
      text-transform: uppercase;
      display: inline-block;
    }

    .card__title {
      font-size: var(--font-size-2xl);
      margin: var(--spacing-2) 0;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      color: var(--color-white);
    }

    @media screen and (min-width: 768px) {
      transform: translateY(1rem);
      opacity: 0;
      transition: transform 0.3s, opacity 0.3s;
    }
  }

  @media screen and (min-width: 768px) {
    &:hover .card__content {
      transform: translateY(0);
      opacity: 1;
      transition: transform 0.3s, opacity 0.3s;
    }
  }
}

.card--secondary:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 80%,
    rgba(0, 0, 0, 1) 100%
  );
  pointer-events: none;
  z-index: -1;
}


.icon-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-4);
}

.icon-card {
  padding: var(--spacing-4);
  max-height: 60px;
  max-width: 60px;
  border: 1px solid var(--border);

  &:hover {
    background: var(--accent);
    color: var(--accent-foreground);
    box-shadow: 0 0 10px var(--primary);
  }
  .icon-card__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
