.link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-4) var(--spacing-8);
  border-radius: var(--radius);
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.link--transparent {
  color: var(--foreground);
  padding: 0;
  border-radius: 0;

  &:hover {
    border-bottom: 1px solid var(--foreground);
  }
}

.link--small {
  padding: var(--spacing-2) var(--spacing-4);
}

.link--primary {
  color: var(--primary-foreground);
  background-color: var(--primary);

  &:hover {
    background-color: var(--primary-foreground);
    color: var(--primary);

    transition: all 0.3s ease-in-out;
  }
}

.link--secondary {
  color: var(--secondary-foreground);
  background-color: transparent;
  border: 1px solid var(--border);

  &:hover {
    background-color: var(--secondary-foreground);
    color: var(--secondary);
    transition: all 0.3s ease-in-out;
  }
}
