.grid {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.grid--larger {
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
