@import "./base/reset.css";
@import "./base/typography.css";
@import "./abstracts/variables.css";
@import "./components/skipToContent.css";
@import "./layout/footer.css";
@import "./layout/navbar.css";
@import "./layout/cta.css";
@import "./layout/form.css";
@import "./components/button.css";
@import "./components/input.css";
@import "./base/page-heading.css";
@import "./components/text.css";
@import "./components/icon.css";
@import "./layout/grid.css";
@import "./layout/hero.css";
@import "./components/card.css";
@import "./components/link.css";
@import "./components/img.css";
@import "./layout/timeline.css";
@import "./components/blur.css";
@import "./components/svg.css";
@import "./components/modal.css";
@import "./components/toast.css";
@import "./animations/fade-in.css";
@import "./animations/move-up.css";
@import "./animations/view-transitions.css";

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--foreground);
  background-color: var(--background);
  overflow-x: hidden;
}

.main {
  margin: var(--spacing-20) 0;
  container-type: inline-size;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--spacing-4);
}

.container--md {
  max-width: var(--container-width-md);
}

a {
  text-decoration: none;
  color: var(--foreground);
}

ul {
  list-style-type: none;
  padding: 0;
}

section {
  margin: var(--spacing-8) 0;

  @container (min-width: 768px) {
    margin: var(--spacing-16) 0;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[aria-haspopup] {
  cursor: pointer;
}
