.page_heading__title{
    color: var(--muted-foreground);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-light);
}

.page_heading__subtitle{
    font-size: var(--font-size-6xl);
    line-height: 1;
}