@view-transition {
  navigation: auto;
}

::view-transition-group(root) {
  animation-duration: 1s;
}

::view-transition-group(navbar) {
  animation: none;
}

::view-transition-new(root) {
    animation: fadeIn;
    animation-duration: 2s;
}


